<!--<div class="container">
  <h2>Manage Contact Messages</h2>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Message</th>
          <th>Reply</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{ contact.id }}</td>
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.message }}</td>
          <td>{{ contact.reply }}</td>
          <td>
            <button *ngIf="contact.reply" class="btn btn-success" >
               Reply            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>-->
