.admin-posts-container {
  padding: 20px;
}

h2 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.post-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.toggle-btn {
  padding: 8px 12px;
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

  .toggle-btn:hover {
    background-color: darkblue;
  }

.accepted {
  color: green;
  font-weight: bold;
}

.rejected {
  color: red;
  font-weight: bold;
}


.accepted-status, .rejected-status {
  display: block; /* Ensures they appear on separate lines */
  font-weight: bold;
}

.accepted-status {
  color: green;
}

.rejected-status {
  color: red;
}
