<section class="header-inner bg-dark text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">

        <h2 class="inner-banner-title">Reset Password</h2>
      </div>
    </div>
  </div>
</section>

<div class="login-container">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email"
             type="email"
             formControlName="email"
             class="form-control"
             placeholder="Enter your email"
             required
             [ngClass]="{
          'is-invalid': resetForm.get('email')?.invalid && resetForm.get('email')?.touched
        }" />
      <div *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.touched" class="error-message">
        Please enter a valid email.
      </div>
    </div>

    <div *ngIf="resetError" class="alert alert-danger">
      {{ resetError }}
    </div>

    <button type="submit" class="btn btn-primary w-100" style="background-color: #fcdb02 !important" [disabled]="resetForm.invalid || isLoading">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Send Reset Email
    </button>

    <button type="button" class="btn btn-secondary w-100 mt-2" routerLink="/login">
      Back to Login
    </button>
  </form>
</div>
