<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Menu</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

          <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
          <li>
            <a routerLink="/adminDashBoard/AllCategories" class="nav-link px-0 align-middle">

              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Category</span>
            </a>
          </li>
          <li>
            <a routerLink="/adminDashBoard/AllAnimal" class="nav-link px-0 align-middle">
              <i class="fas fa-paw fs-4"></i> <span class="ms-1 d-none d-sm-inline">AllAnimal</span>
            </a>
          </li>
          <li>
            <a routerLink="/adminDashBoard/AdoptionApplication" class="nav-link px-0 align-middle">
              <i class="fas fa-paw fs-4"></i> <span class="ms-1 d-none d-sm-inline">Adoption Application</span>
            </a>
          </li>
          <li>
            <a routerLink="/adminDashBoard/AllShelters" class="nav-link px-0 align-middle">

              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Shelters</span>
            </a>
          </li>

          <li>
            <a routerLink="/adminDashBoard/post-management" class="nav-link px-0 align-middle">

              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Posts Management</span>
            </a>
          </li>

          <li>
            <a routerLink="/adminDashBoard/allUsers" class="nav-link px-0 align-middle">

              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Users</span>
            </a>
          </li>

          <li>
            <a routerLink="/admin" (click)="Logout()" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Logout</span>
            </a>
          </li>

        </ul>
        <hr>

      </div>
    </div>
    <div class="col py-3">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
