<section class="header-inner bg-dark text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
       
        <h2 class="inner-banner-title">Categories</h2>
      </div>
    </div>
  </div>
</section>


<section class="space-pb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12 ">
        <div class="section-title text-center">
          <h2 class="title">Explore Various Categories of Animal Providers for Your Specific Requirements.</h2>
        </div>
      </div>
    </div>
    <div class="row">
    
      <div class="col-md-4" *ngFor="let item of Array">
        <div class="service-style-01 mb-5">
          <img class="img-fluid" src="https://localhost:7208/{{item.image}}" alt="">
          <a [routerLink]="['/animal', item.id]" class="service-title">{{item.species}}</a>

        </div>
      </div>
    </div>

  </div>
</section>
