<footer class="footer bg-dark space-pt" *ngIf="!isAdminLogin()">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-contact-info">
          <h5 class="text-primary">Contact Information</h5>
          <p class="text-white">Give yourself the power of responsibility. Remind yourself the only thing stopping you is yourself.</p>
          <ul class="list-unstyled mb-0" style="background-image: url(assets/images/google-map.png);">
            <li><i class="fa fa-map-signs"></i><span>594 E. Whitemarsh Street Mchenry, IL 60050</span></li>
            <li><i class="fa fa-microphone"></i><span>(123) 345-6789</span></li>
            <li><i class="fa fa-headphones"></i><span>support.sitters.com</span></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="footer-link">
          <h5 class="text-primary">Need help?</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="faqs.html">FAQs</a></li>
            <li><a href="service.html">Our Services</a></li>
            <li><a href="about-us.html">About Us </a></li>
            <li><a href="team.html">Our Team</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="footer-link">
          <h5 class="text-primary">Sitter Services</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="service-detail.html">High school sitters</a></li>
            <li><a href="service-detail.html">College sitters</a></li>
            <li><a href="service-detail.html">Family members</a></li>
            <li><a href="service-detail.html">Mother's helpers</a></li>
            <li><a href="service-detail.html">Home Help</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <h5 class="text-primary">Subscribe Us</h5>
        <div class="footer-subscribe">
          <p class="text-white">Sign up to our newsletter to get the latest news and offers.</p>
          <form>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Email*">
            </div>
            <button type="submit" class="btn btn-white">Get Notified</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 text-center text-md-start">
          <a href="index.html"><img class="img-fluid footer-logo" src="assets/images/logo-light.svg" alt=""></a>
        </div>
        <div class="col-md-2 text-center my-3 mt-md-0 mb-md-0">
          <a id="back-to-top" class="back-to-top" href="#"><i class="fas fa-angle-up"></i></a>
        </div>
        <div class="col-md-5 text-center copyright text-md-end">
          <p class="mb-0 text-white">
            &copy; Copyright <span id="copyright">
              <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
            </span> <a href="index.html"> Sitters </a> All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
